.document-list {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    height: 750px;
    width: 25%;
    margin: 1px;
    overflow-y: scroll;
}

.document-list-item {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.document-list-item-name {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    text-align: left;    
    height: 50px;
    width: 420px;
    font-size: 18px;
    margin: 1px;
    padding: 1px;
}
